<table>
  <tr>
    <td>
      <app-block
        [btnId]="11"
        (adjacentBtns)="buttonHandler(11, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="12"
        (adjacentBtns)="buttonHandler(12, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="13"
        (adjacentBtns)="buttonHandler(13, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="14"
        (adjacentBtns)="buttonHandler(14, $event)"
      ></app-block>
    </td>
  </tr>

  <tr>
    <td>
      <app-block
        [btnId]="21"
        (adjacentBtns)="buttonHandler(21, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="22"
        (adjacentBtns)="buttonHandler(22, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="23"
        (adjacentBtns)="buttonHandler(23, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="24"
        (adjacentBtns)="buttonHandler(24, $event)"
      ></app-block>
    </td>
  </tr>

  <tr>
    <td>
      <app-block
        [btnId]="31"
        (adjacentBtns)="buttonHandler(31, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="32"
        (adjacentBtns)="buttonHandler(32, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="33"
        (adjacentBtns)="buttonHandler(33, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="34"
        (adjacentBtns)="buttonHandler(34, $event)"
      ></app-block>
    </td>
  </tr>

  <tr>
    <td>
      <app-block
        [btnId]="41"
        (adjacentBtns)="buttonHandler(41, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="42"
        (adjacentBtns)="buttonHandler(42, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="43"
        (adjacentBtns)="buttonHandler(43, $event)"
      ></app-block>
    </td>
    <td>
      <app-block
        [btnId]="44"
        (adjacentBtns)="buttonHandler(44, $event)"
      ></app-block>
    </td>
  </tr>

  <!-- <tr>
    <td><app-block [btnId]="11"></app-block></td>
    <td><app-block [btnId]="12"></app-block></td>
    <td><app-block [btnId]="13"></app-block></td>
    <td><app-block [btnId]="14"></app-block></td>
    <td><app-block [btnId]="15"></app-block></td>
    <td><app-block [btnId]="16"></app-block></td>
    <td><app-block [btnId]="17"></app-block></td>
    <td><app-block [btnId]="18"></app-block></td>
    <td><app-block [btnId]="19"></app-block></td>
  </tr>
  <tr>
    <td><app-block [btnId]="21"></app-block></td>
    <td><app-block [btnId]="22"></app-block></td>
    <td><app-block [btnId]="23"></app-block></td>
    <td><app-block [btnId]="24"></app-block></td>
    <td><app-block [btnId]="25"></app-block></td>
    <td><app-block [btnId]="26"></app-block></td>
    <td><app-block [btnId]="27"></app-block></td>
    <td><app-block [btnId]="28"></app-block></td>
    <td><app-block [btnId]="29"></app-block></td>
  </tr>
  <tr>
    <td><app-block [btnId]="31"></app-block></td>
    <td><app-block [btnId]="32"></app-block></td>
    <td><app-block [btnId]="33"></app-block></td>
    <td><app-block [btnId]="34"></app-block></td>
    <td><app-block [btnId]="35"></app-block></td>
    <td><app-block [btnId]="36"></app-block></td>
    <td><app-block [btnId]="37"></app-block></td>
    <td><app-block [btnId]="38"></app-block></td>
    <td><app-block [btnId]="39"></app-block></td>
  </tr>
  <tr>
    <td><app-block [btnId]="41"></app-block></td>
    <td><app-block [btnId]="42"></app-block></td>
    <td><app-block [btnId]="43"></app-block></td>
    <td><app-block [btnId]="44"></app-block></td>
    <td><app-block [btnId]="45"></app-block></td>
    <td><app-block [btnId]="46"></app-block></td>
    <td><app-block [btnId]="47"></app-block></td>
    <td><app-block [btnId]="48"></app-block></td>
    <td><app-block [btnId]="49"></app-block></td>
  </tr>
  <tr>
    <td><app-block [btnId]="51"></app-block></td>
    <td><app-block [btnId]="52"></app-block></td>
    <td><app-block [btnId]="53"></app-block></td>
    <td><app-block [btnId]="54"></app-block></td>
    <td><app-block [btnId]="55"></app-block></td>
    <td><app-block [btnId]="56"></app-block></td>
    <td><app-block [btnId]="57"></app-block></td>
    <td><app-block [btnId]="58"></app-block></td>
    <td><app-block [btnId]="59"></app-block></td>
  </tr>
  <tr>
    <td><app-block [btnId]="61"></app-block></td>
    <td><app-block [btnId]="62"></app-block></td>
    <td><app-block [btnId]="63"></app-block></td>
    <td><app-block [btnId]="64"></app-block></td>
    <td><app-block [btnId]="65"></app-block></td>
    <td><app-block [btnId]="66"></app-block></td>
    <td><app-block [btnId]="67"></app-block></td>
    <td><app-block [btnId]="68"></app-block></td>
    <td><app-block [btnId]="69"></app-block></td>
  </tr>
  <tr>
    <td><app-block [btnId]="71"></app-block></td>
    <td><app-block [btnId]="72"></app-block></td>
    <td><app-block [btnId]="73"></app-block></td>
    <td><app-block [btnId]="74"></app-block></td>
    <td><app-block [btnId]="75"></app-block></td>
    <td><app-block [btnId]="76"></app-block></td>
    <td><app-block [btnId]="77"></app-block></td>
    <td><app-block [btnId]="78"></app-block></td>
    <td><app-block [btnId]="79"></app-block></td>
  </tr>
  <tr>
    <td><app-block [btnId]="81"></app-block></td>
    <td><app-block [btnId]="82"></app-block></td>
    <td><app-block [btnId]="83"></app-block></td>
    <td><app-block [btnId]="84"></app-block></td>
    <td><app-block [btnId]="85"></app-block></td>
    <td><app-block [btnId]="86"></app-block></td>
    <td><app-block [btnId]="87"></app-block></td>
    <td><app-block [btnId]="88"></app-block></td>
    <td><app-block [btnId]="89"></app-block></td>
  </tr>
  <tr>
    <td><app-block [btnId]="91"></app-block></td>
    <td><app-block [btnId]="92"></app-block></td>
    <td><app-block [btnId]="93"></app-block></td>
    <td><app-block [btnId]="94"></app-block></td>
    <td><app-block [btnId]="95"></app-block></td>
    <td><app-block [btnId]="96"></app-block></td>
    <td><app-block [btnId]="97"></app-block></td>
    <td><app-block [btnId]="98"></app-block></td>
    <td><app-block [btnId]="99"></app-block></td>
  </tr> -->
</table>
